@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  position: relative;
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-family: $font-display;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.25rem;
  cursor: pointer;
  transition: all $transition-slow ease;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.focused:not(.error) {
    text-shadow: 0 0 5px rgba($vapor-neon-pink, 0.7);
  }

  &.error {
    color: $cyber-warning-red;
  }

  &.darkHacker {
    &.focused:not(.error) {
      text-shadow: 0 0 5px rgba($hacker-green, 0.7);
    }
  }
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-family: $font-display;
  background-color: $vapor-dark-blue;
  color: $vapor-text-light;
  border: 1px solid $vapor-neon-pink;
  border-radius: 0;
  outline: none;

  &:focus {
    box-shadow: $vapor-glow-pink;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.error {
    border-color: $cyber-warning-red;

    &:focus {
      box-shadow: 0 0 10px rgba($cyber-warning-red, 0.4);
    }
  }

  &.darkHacker {
    background-color: $hacker-bg;
    border-color: $hacker-green;

    &:focus {
      box-shadow: $cyber-glow-green;
    }

    &.error {
      border-color: $hacker-red;

      &:focus {
        box-shadow: 0 0 10px rgba($hacker-red, 0.4);
      }
    }
  }
}

.effectLine {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: $vapor-neon-pink;
  transition: width $transition-slow ease;

  &.error {
    background-color: $cyber-warning-red;
  }

  &.darkHacker {
    background-color: $hacker-green;

    &.error {
      background-color: $hacker-red;
    }
  }
}

.scanlineEffect {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: -2px;
  overflow: hidden;

  .scanline {
    width: 30%;
    height: 100%;
    background-color: $vapor-neon-pink;
    box-shadow: 0 0 10px $vapor-neon-pink;
    animation: scanline 2s ease-in-out infinite;

    &.error {
      background-color: $cyber-warning-red;
      box-shadow: 0 0 10px $cyber-warning-red;
    }

    &.darkHacker {
      background-color: $hacker-green;
      box-shadow: 0 0 10px $hacker-green;

      &.error {
        background-color: $hacker-red;
        box-shadow: 0 0 10px $hacker-red;
      }
    }
  }
}

.errorMessage {
  margin-top: 0.25rem;
  color: $cyber-warning-red;
  font-size: 0.75rem;

  &.darkHacker {
    color: $hacker-red;
  }
}
